{% extends "layout.html" %}

{% block contenido %}

<h1>Alta de materia</h1>

<form>

    <label for="nro">Seleccione el número de curso de la materia:</label>
    <select id="nro" name="nro">
        <option value="1">1 año</option>
        <option value="2">2 año</option>
        <option value="3">3 año</option>
        <option value="4">4 año</option>
        <option value="5">5 año</option>
        <option value="6">6 año</option>
    </select>

    <br><br>

    <label for="nombre">Nombre de la materia:</label>
    <input type="text" id="nombre" name="nombre">

    <br><br>

    <label for="profesor">Nombre del profesor:</label>
    <input type="text" id="profesor" name="profesor">

    <br><br>

    <button type="submit">Guardar materia</button>
</form>

{% endblock %}