{% extends "layout.html" %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}

<section class="inicio">

    <h2>Menú principal</h2>

    <p>
        Seleccione una opción para comenzar:
    </p>

    <div class="menu-principal">

        <a href="{{ url_for('estudiantes') }}" class="opcion-menu">
            <h3>Estudiantes</h3>
            <p>Gestionar estudiantes</p>
        </a>

        <a href="{{ url_for('materias') }}" class="opcion-menu">
            <h3>Materias</h3>
            <p>Gestionar materias</p>
        </a>

        <a href="" class="opcion-menu">
            <h3>Calificaciones</h3>
            <p>Gestionar calificaciones</p>
        </a>

    </div>

</section>

{% endblock %}
